<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light border-bottom shadow-sm">
      <a class="fondo h1 navbar-brand" routerLink="/">Eiteck<span class="text-danger"> FRONT</span></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="row justify-content-end collapse navbar-collapse" id="navbarCollapse">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <input #inputBuscador autofocus type="text" class="form-control-lg" placeholder="Buscar...">
            <button class="button3" (click)="busqueda(inputBuscador.value)" style="vertical-align:middle"><span>Buscar</span></button>
        </div>
      </div>
    </nav>
  </header>